examples/cron-plus-demo.json
[{"id":"28c3b8f9.e03b88","type":"cronplus","z":"ac2abaf3.ee3148","name":"","outputField":"payload","timeZone":"UTC","options":[],"x":460,"y":360,"wires":[["6ed064a6.a6a8fc"]]},{"id":"9dd6e11.81d242","type":"inject","z":"ac2abaf3.ee3148","name":"add every 6 (maxCount 3)","topic":"add","payload":"{\"command\":\"add\",\"name\":\"every 6\",\"expression\":\"*/6 * * * * * *\",\"payload\":\"hi every 6\",\"type\":\"str\",\"limit\":3}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":200,"wires":[["28c3b8f9.e03b88"]]},{"id":"61269c66.67b344","type":"inject","z":"ac2abaf3.ee3148","name":"remove every 6","topic":"remove every 6","payload":"{\"command\": \"remove\", \"name\":\"every 6\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":240,"wires":[["28c3b8f9.e03b88"]]},{"id":"ca15e47e.76bb58","type":"inject","z":"ac2abaf3.ee3148","name":"stop every 6","topic":"","payload":"{\"command\": \"stop\", \"name\":\"every 6\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":280,"wires":[["28c3b8f9.e03b88"]]},{"id":"7fd29c05.9e0cc4","type":"inject","z":"ac2abaf3.ee3148","name":"pause every 6","topic":"","payload":"{\"command\": \"pause\", \"name\":\"every 6\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":320,"wires":[["28c3b8f9.e03b88"]]},{"id":"f2a2cc02.3a08d","type":"inject","z":"ac2abaf3.ee3148","name":"add every 8","topic":"_ignore_","payload":"{\"command\":\"add\",\"name\":\"every 8\",\"expression\":\"*/8 * * * * * *\",\"payload\":\"hi every 8\",\"type\":\"str\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["28c3b8f9.e03b88"]]},{"id":"99189450.8ac768","type":"inject","z":"ac2abaf3.ee3148","name":"remove every 8","topic":"remove","payload":"{\"command\":\"remove\",\"name\":\"every 8\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":100,"wires":[["28c3b8f9.e03b88"]]},{"id":"aa657245.3e74d","type":"inject","z":"ac2abaf3.ee3148","name":"Get list of schedules","topic":"list","payload":"{\"command\":\"list-all\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":140,"wires":[["28c3b8f9.e03b88"]]},{"id":"a57a71fa.d6cd9","type":"inject","z":"ac2abaf3.ee3148","name":"start every 6","topic":"start","payload":"{\"command\": \"start\", \"name\":\"every 6\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":360,"wires":[["28c3b8f9.e03b88"]]},{"id":"dd96554e.15a048","type":"inject","z":"ac2abaf3.ee3148","name":"remove-all","topic":"","payload":"{\"command\": \"remove-all\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":480,"wires":[["28c3b8f9.e03b88"]]},{"id":"b6ee1d21.127f7","type":"inject","z":"ac2abaf3.ee3148","name":"pause-all","topic":"pause-all","payload":"{\"command\": \"pause-all\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":520,"wires":[["28c3b8f9.e03b88"]]},{"id":"d91a24bd.856188","type":"inject","z":"ac2abaf3.ee3148","name":"start-all","topic":"start-all","payload":"{\"command\": \"start-all\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":560,"wires":[["28c3b8f9.e03b88"]]},{"id":"5e5204d2.a17c4c","type":"inject","z":"ac2abaf3.ee3148","name":"stop-all","topic":"stop-all","payload":"{\"command\": \"stop-all\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":600,"wires":[["28c3b8f9.e03b88"]]},{"id":"62bc4c38.da9134","type":"inject","z":"ac2abaf3.ee3148","name":"add 3 schedules","topic":"add","payload":"[{\"command\":\"add\",\"name\":\"every 5 mins on monday\",\"expression\":\"0 */5 * * * MON *\",\"payload\":\"hi every 5 - it must be monday\",\"type\":\"str\",\"limit\":3},{\"command\":\"add\",\"name\":\"every 10 mins on tuesday\",\"expression\":\"0 */10 * * * TUE *\",\"payload\":\"It must be tuesday\",\"type\":\"str\",\"limit\":3},{\"command\":\"add\",\"name\":\"every 20s Wed~Sun\",\"expression\":\"*/20 * * * * 3-7 *\",\"payload\":\"Hi wed~sun\",\"type\":\"str\",\"limit\":3}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":420,"wires":[["28c3b8f9.e03b88"]]},{"id":"4c90045.568d5fc","type":"inject","z":"ac2abaf3.ee3148","name":"describe 0 */5 * * * MON *","topic":"","payload":"{\"command\":\"describe\",\"expression\":\"0 */5 * * * MON *\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":60,"wires":[["28c3b8f9.e03b88"]]},{"id":"646bdfef.8500c","type":"inject","z":"ac2abaf3.ee3148","name":"describe array of expressions","topic":"human","payload":"[{\"command\":\"describe\",\"expression\":\"0 0 2 29 FEB * 2020-2040\"},{\"command\":\"describe\",\"expression\":\"4 */7 * * * 1-4 *\"},{\"command\":\"describe\",\"expression\":\"0/20 * * * * MON *\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":440,"y":100,"wires":[["28c3b8f9.e03b88"]]},{"id":"68dd6ce8.88da84","type":"inject","z":"ac2abaf3.ee3148","name":"Get status of \"every 8\"","topic":"","payload":"{\"command\":\"status\", \"name\" : \"every 8\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":140,"wires":[["28c3b8f9.e03b88"]]},{"id":"6ed064a6.a6a8fc","type":"switch","z":"ac2abaf3.ee3148","name":"","property":"cronplus.triggerTimestamp","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":300,"wires":[["f8369f6e.efb2"],["6f98218c.ba106"]],"outputLabels":["Schedule Trigger","Control Reply"]},{"id":"f8369f6e.efb2","type":"debug","z":"ac2abaf3.ee3148","name":"Sched Trigger","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":700,"y":240,"wires":[]},{"id":"6f98218c.ba106","type":"debug","z":"ac2abaf3.ee3148","name":"Control Reply","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":700,"y":360,"wires":[]},{"id":"2ebaf601.c1eb6a","type":"cronplus","z":"ac2abaf3.ee3148","name":"Tokyo 8am & 4:30pm, Mon ~ Fri","outputField":"payload","timeZone":"Asia/Tokyo","options":[{"topic":"Start-of-shift","payload":"Start work now Tokyo","type":"str","expression":"0 0 8 * * 1-5"},{"topic":"End-of-shift","payload":"Go home Tokyo","type":"str","expression":"0 30 16 * * 1-5"}],"x":470,"y":600,"wires":[["62e938f3.416d58"]]},{"id":"62e938f3.416d58","type":"debug","z":"ac2abaf3.ee3148","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":600,"wires":[]},{"id":"e22140bc.0b664","type":"cronplus","z":"ac2abaf3.ee3148","name":"Simple every hour Mon ~ Fri","outputField":"payload","timeZone":"","options":[{"topic":"hourly","payload":"Every hour, mon-fri","type":"str","expression":"0 0 * * * MON-FRI"}],"x":480,"y":500,"wires":[["4a63aa94.c49214"]]},{"id":"4a63aa94.c49214","type":"debug","z":"ac2abaf3.ee3148","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":500,"wires":[]},{"id":"c358d5d2.36cf58","type":"comment","z":"ac2abaf3.ee3148","name":"Demonstrating 2 schedules & timezone","info":"","x":490,"y":560,"wires":[]},{"id":"bc551f3a.588f9","type":"comment","z":"ac2abaf3.ee3148","name":"Simple example. Only 1 UI entry so inject button appears","info":"","x":550,"y":460,"wires":[]},{"id":"ab421ac9.267248","type":"comment","z":"ac2abaf3.ee3148","name":"Fully dynamic example demonstrating all functions","info":"","x":210,"y":20,"wires":[]},{"id":"15c3be86.ba45e1","type":"cronplus","z":"ac2abaf3.ee3148","name":"Every minute","outputField":"payload","timeZone":"","options":[{"topic":"every_min","payload":"{\"command\":\"add\",\"name\":\"every 7 sec\",\"expression\":\"*/7 * * * * * *\",\"payload\":\"hi every 7\",\"type\":\"str\",\"limit\":2}","type":"json","expression":"0 * * * * *"}],"x":430,"y":740,"wires":[["9dad3b98.f991d8","a8ecf3bf.3a209"]]},{"id":"9dad3b98.f991d8","type":"debug","z":"ac2abaf3.ee3148","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":740,"wires":[]},{"id":"8206f979.f7c258","type":"comment","z":"ac2abaf3.ee3148","name":"Demonstrating 1 schedule creating another","info":"","x":500,"y":660,"wires":[]},{"id":"a8ecf3bf.3a209","type":"switch","z":"ac2abaf3.ee3148","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"every_min","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":700,"wires":[["15c3be86.ba45e1"]]}]