examples/dynamic schedules.json
[{"id":"5461b3ae.b5563c","type":"inject","z":"21106466.70e60c","name":"describe 0 */5 * * * MON *","topic":"","payload":"{\"command\":\"describe\",\"expression\":\"0 */5 * * * MON *\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":610,"y":80,"wires":[["6ccd59f0.ef3558"]]},{"id":"6ccd59f0.ef3558","type":"cronplus","z":"21106466.70e60c","name":"","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output2","outputs":2,"options":[{"expressionType":"cron","name":"e15","topic":"Every 15","payload":"","type":"default","expression":"0 15,30,45 * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"expressionType":"cron","name":"noon","topic":"noon","payload":"","type":"default","expression":"0 0 12 * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":640,"y":380,"wires":[["15a029d0.b974b6"],["7d6995e5.5999cc"]]},{"id":"9e8a834c.ae603","type":"inject","z":"21106466.70e60c","name":"Get list of schedules","topic":"list","payload":"{\"command\":\"list-all\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":160,"wires":[["6ccd59f0.ef3558"]]},{"id":"15a029d0.b974b6","type":"debug","z":"21106466.70e60c","name":"Sched Trigger","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":860,"y":340,"wires":[]},{"id":"7d6995e5.5999cc","type":"debug","z":"21106466.70e60c","name":"Control Reply","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":860,"y":380,"wires":[]},{"id":"1fd955f4.d2fb3a","type":"inject","z":"21106466.70e60c","name":"add every 6 (maxCount 3)","topic":"add","payload":"{\"command\":\"add\",\"name\":\"every 6\",\"expression\":\"*/6 * * * * * *\",\"type\":\"default\",\"limit\":3}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":220,"wires":[["6ccd59f0.ef3558"]]},{"id":"70dbe225.654aec","type":"inject","z":"21106466.70e60c","name":"remove every 6","topic":"remove every 6","payload":"{\"command\": \"remove\", \"name\":\"every 6\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":260,"wires":[["6ccd59f0.ef3558"]]},{"id":"b06617bf.18c9c8","type":"inject","z":"21106466.70e60c","name":"stop every 6","topic":"","payload":"{\"command\": \"stop\", \"name\":\"every 6\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":300,"wires":[["6ccd59f0.ef3558"]]},{"id":"1acb29b5.d2ad86","type":"inject","z":"21106466.70e60c","name":"pause every 6","topic":"","payload":"{\"command\": \"pause\", \"name\":\"every 6\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":340,"wires":[["6ccd59f0.ef3558"]]},{"id":"cc9334d.bbe6ec8","type":"inject","z":"21106466.70e60c","name":"add every 8","topic":"_ignore_","payload":"{\"command\":\"add\",\"name\":\"every 8\",\"expression\":\"*/8 * * * * * *\",\"payload\":\"hi every 8\",\"type\":\"str\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":80,"wires":[["6ccd59f0.ef3558"]]},{"id":"b94b6d5e.d9add","type":"inject","z":"21106466.70e60c","name":"remove every 8","topic":"remove","payload":"{\"command\":\"remove\",\"name\":\"every 8\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":120,"wires":[["6ccd59f0.ef3558"]]},{"id":"e680f2a6.1f6bc","type":"inject","z":"21106466.70e60c","name":"start every 6","topic":"start","payload":"{\"command\": \"start\", \"name\":\"every 6\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":380,"wires":[["6ccd59f0.ef3558"]]},{"id":"85fa6db4.ddc0b","type":"inject","z":"21106466.70e60c","name":"remove-all-dynamic","topic":"remove-all-dynamic","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":480,"wires":[["6ccd59f0.ef3558"]]},{"id":"d32beb60.cf5fe8","type":"inject","z":"21106466.70e60c","name":"pause-all","topic":"","payload":"{\"command\": \"pause-all\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":540,"wires":[["6ccd59f0.ef3558"]]},{"id":"242aae.eaea1552","type":"inject","z":"21106466.70e60c","name":"start-all","topic":"start-all","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":700,"wires":[["6ccd59f0.ef3558"]]},{"id":"6be3bd72.6c46b4","type":"inject","z":"21106466.70e60c","name":"stop-all","topic":"stop-all","payload":"{\"command\": \"stop-all\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":280,"y":580,"wires":[["6ccd59f0.ef3558"]]},{"id":"2310ed4.eb28d12","type":"inject","z":"21106466.70e60c","name":"add 3 schedules","topic":"add","payload":"[{\"command\":\"add\",\"name\":\"every 5 mins on monday\",\"expression\":\"0 */5 * * * MON *\",\"payload\":\"hi every 5 - it must be monday\",\"type\":\"str\",\"limit\":3},{\"command\":\"add\",\"name\":\"every 10 mins on tuesday\",\"expression\":\"0 */10 * * * TUE *\",\"payload\":\"It must be tuesday\",\"type\":\"str\",\"limit\":3},{\"command\":\"add\",\"name\":\"every 20s Wed~Sun\",\"expression\":\"*/20 * * * * 3-7 *\",\"payload\":\"Hi wed~sun\",\"type\":\"default\",\"limit\":3}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":440,"wires":[["6ccd59f0.ef3558"]]},{"id":"b89e0da2.e077c","type":"inject","z":"21106466.70e60c","name":"describe array of expressions","topic":"human","payload":"[{\"command\":\"describe\",\"expression\":\"0 0 2 29 FEB * 2020-2040\"},{\"command\":\"describe\",\"expression\":\"4 */7 * * * 1-4 *\"},{\"command\":\"describe\",\"expression\":\"0/20 * * * * MON *\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":120,"wires":[["6ccd59f0.ef3558"]]},{"id":"74abfb9c.949f24","type":"inject","z":"21106466.70e60c","name":"Get status of \"every 8\"","topic":"","payload":"{\"command\":\"status\", \"name\" : \"every 8\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":160,"wires":[["6ccd59f0.ef3558"]]},{"id":"f9d0ce6b.d0ebd","type":"inject","z":"21106466.70e60c","name":"export all dynamic schedules","topic":"add","payload":"{\"command\":\"export-all-dynamic\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":820,"wires":[["6ccd59f0.ef3558"]]},{"id":"b329cc7c.f2544","type":"comment","z":"21106466.70e60c","name":"Fully dynamic example demonstrating many functions of CRON-PLUS - see built in help for more info","info":"","x":540,"y":40,"wires":[]},{"id":"6563ae5f.cfae8","type":"cronplus","z":"21106466.70e60c","name":"Tokyo 8am & 4:30pm, Mon ~ Fri","outputField":"payload","timeZone":"Asia/Tokyo","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"expressionType":"cron","name":"schedule1","topic":"Start-of-shift","payload":"Start work now Tokyo","type":"str","expression":"0 0 8 * * 1-5","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"expressionType":"cron","name":"schedule2","topic":"End-of-shift","payload":"Go home Tokyo","type":"str","expression":"0 30 16 * * 1-5","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":710,"y":620,"wires":[["4d8a4d38.32fe04"]]},{"id":"4d8a4d38.32fe04","type":"debug","z":"21106466.70e60c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","x":910,"y":620,"wires":[]},{"id":"1b1b053.aedcffb","type":"cronplus","z":"21106466.70e60c","name":"Simple every hour Mon ~ Fri","outputField":"payload","timeZone":"","commandResponseMsgOutput":"output1","outputs":1,"options":[{"expressionType":"cron","name":"schedule1","topic":"hourly","payload":"Every hour, mon-fri","type":"str","expression":"0 0 * * * MON-FRI","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":700,"y":520,"wires":[["599ab02b.e93bf"]]},{"id":"599ab02b.e93bf","type":"debug","z":"21106466.70e60c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":930,"y":520,"wires":[]},{"id":"20f0c8f2.96d848","type":"comment","z":"21106466.70e60c","name":"Demonstrating 2 schedules & timezone","info":"","x":730,"y":580,"wires":[]},{"id":"d4c44b5b.875a28","type":"comment","z":"21106466.70e60c","name":"Simple example. Only 1 UI entry so inject button appears","info":"","x":790,"y":480,"wires":[]},{"id":"5ba8083c.ac7e58","type":"inject","z":"21106466.70e60c","name":"stop-all-dynamic","topic":"stop-all-dynamic","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":620,"wires":[["6ccd59f0.ef3558"]]},{"id":"3f6c7e88.212242","type":"inject","z":"21106466.70e60c","name":"stop-all-static","topic":"stop-all-static","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":660,"wires":[["6ccd59f0.ef3558"]]},{"id":"1566b1d4.7a4c0e","type":"inject","z":"21106466.70e60c","name":"start-all-dynamic","topic":"start-all-dynamic","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":740,"wires":[["6ccd59f0.ef3558"]]},{"id":"3b59189.65e4ae8","type":"inject","z":"21106466.70e60c","name":"start-all-static","topic":"start-all-static","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":780,"wires":[["6ccd59f0.ef3558"]]}]