examples/dynamic schedules.json
[{"id":"a0589f68.1341","type":"inject","z":"21106466.70e60c","name":"describe 0 */5 * * * MON *","topic":"","payload":"{\"command\":\"describe\",\"expression\":\"0 */5 * * * MON *\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":140,"wires":[["10a04144.bbb85f"]]},{"id":"10a04144.bbb85f","type":"cronplus","z":"21106466.70e60c","name":"","outputField":"payload","timeZone":"","commandResponseMsgOutput":"output2","outputs":2,"options":[{"expressionType":"cron","name":"e15","topic":"Every 15","payload":"","type":"default","expression":"0 15,30,45 * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"expressionType":"cron","name":"noon","topic":"noon","payload":"","type":"default","expression":"0 0 12 * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":560,"y":440,"wires":[["90d759dd.bd1e98"],["d82fef9a.32e6a"]]},{"id":"6a18fbf.3eab404","type":"inject","z":"21106466.70e60c","name":"Get list of schedules","topic":"list","payload":"{\"command\":\"list-all\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":220,"wires":[["10a04144.bbb85f"]]},{"id":"90d759dd.bd1e98","type":"debug","z":"21106466.70e60c","name":"Sched Trigger","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":420,"wires":[]},{"id":"d82fef9a.32e6a","type":"debug","z":"21106466.70e60c","name":"Control Reply","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":460,"wires":[]},{"id":"c9ccb9bf.d12bc8","type":"inject","z":"21106466.70e60c","name":"add every 6 (maxCount 3)","topic":"add","payload":"{\"command\":\"add\",\"name\":\"every 6\",\"expression\":\"*/6 * * * * * *\",\"type\":\"default\",\"limit\":3}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":280,"wires":[["10a04144.bbb85f"]]},{"id":"789d0d44.6a9564","type":"inject","z":"21106466.70e60c","name":"remove every 6","topic":"remove every 6","payload":"{\"command\": \"remove\", \"name\":\"every 6\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":320,"wires":[["10a04144.bbb85f"]]},{"id":"ab84fa35.fea7f8","type":"inject","z":"21106466.70e60c","name":"stop every 6","topic":"","payload":"{\"command\": \"stop\", \"name\":\"every 6\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":360,"wires":[["10a04144.bbb85f"]]},{"id":"b6debacb.d76978","type":"inject","z":"21106466.70e60c","name":"pause every 6","topic":"","payload":"{\"command\": \"pause\", \"name\":\"every 6\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":400,"wires":[["10a04144.bbb85f"]]},{"id":"6a53b4ee.a9a16c","type":"inject","z":"21106466.70e60c","name":"add every 8","topic":"_ignore_","payload":"{\"command\":\"add\",\"name\":\"every 8\",\"expression\":\"*/8 * * * * * *\",\"payload\":\"hi every 8\",\"type\":\"str\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":140,"wires":[["10a04144.bbb85f"]]},{"id":"dc3a5601.923298","type":"inject","z":"21106466.70e60c","name":"remove every 8","topic":"remove","payload":"{\"command\":\"remove\",\"name\":\"every 8\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":180,"wires":[["10a04144.bbb85f"]]},{"id":"c1efc4ef.4b0a38","type":"inject","z":"21106466.70e60c","name":"start every 6","topic":"start","payload":"{\"command\": \"start\", \"name\":\"every 6\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":440,"wires":[["10a04144.bbb85f"]]},{"id":"6e1b62e8.2fe23c","type":"inject","z":"21106466.70e60c","name":"remove-all","topic":"","payload":"{\"command\": \"remove-all\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":560,"wires":[["10a04144.bbb85f"]]},{"id":"b0ab243f.0f0078","type":"inject","z":"21106466.70e60c","name":"pause-all","topic":"pause-all","payload":"{\"command\": \"pause-all\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":600,"wires":[["10a04144.bbb85f"]]},{"id":"6a11cd69.d9b7b4","type":"inject","z":"21106466.70e60c","name":"start-all","topic":"start-all","payload":"{\"command\": \"start-all\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":640,"wires":[["10a04144.bbb85f"]]},{"id":"8ab708a0.906258","type":"inject","z":"21106466.70e60c","name":"stop-all","topic":"stop-all","payload":"{\"command\": \"stop-all\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":200,"y":680,"wires":[["10a04144.bbb85f"]]},{"id":"993652f3.88984","type":"inject","z":"21106466.70e60c","name":"add 3 schedules","topic":"add","payload":"[{\"command\":\"add\",\"name\":\"every 5 mins on monday\",\"expression\":\"0 */5 * * * MON *\",\"payload\":\"hi every 5 - it must be monday\",\"type\":\"str\",\"limit\":3},{\"command\":\"add\",\"name\":\"every 10 mins on tuesday\",\"expression\":\"0 */10 * * * TUE *\",\"payload\":\"It must be tuesday\",\"type\":\"str\",\"limit\":3},{\"command\":\"add\",\"name\":\"every 20s Wed~Sun\",\"expression\":\"*/20 * * * * 3-7 *\",\"payload\":\"Hi wed~sun\",\"type\":\"default\",\"limit\":3}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":500,"wires":[["10a04144.bbb85f"]]},{"id":"fb8cab85.c96868","type":"inject","z":"21106466.70e60c","name":"describe array of expressions","topic":"human","payload":"[{\"command\":\"describe\",\"expression\":\"0 0 2 29 FEB * 2020-2040\"},{\"command\":\"describe\",\"expression\":\"4 */7 * * * 1-4 *\"},{\"command\":\"describe\",\"expression\":\"0/20 * * * * MON *\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":540,"y":180,"wires":[["10a04144.bbb85f"]]},{"id":"85fd37bc.cc5fd8","type":"inject","z":"21106466.70e60c","name":"Get status of \"every 8\"","topic":"","payload":"{\"command\":\"status\", \"name\" : \"every 8\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":220,"wires":[["10a04144.bbb85f"]]},{"id":"eb24d99a.cf27c8","type":"inject","z":"21106466.70e60c","name":"export all dynamic schedules","topic":"add","payload":"{\"command\":\"export-all-dynamic\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":740,"wires":[["10a04144.bbb85f"]]},{"id":"3a66af84.061dd","type":"comment","z":"21106466.70e60c","name":"Fully dynamic example demonstrating many functions of CRON-PLUS - see built in help for more info","info":"","x":460,"y":80,"wires":[]},{"id":"ccea9d08.57336","type":"cronplus","z":"21106466.70e60c","name":"Tokyo 8am & 4:30pm, Mon ~ Fri","outputField":"payload","timeZone":"Asia/Tokyo","outputs":1,"options":[{"expressionType":"cron","name":"schedule1","topic":"Start-of-shift","payload":"Start work now Tokyo","type":"str","expression":"0 0 8 * * 1-5","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"expressionType":"cron","name":"schedule2","topic":"End-of-shift","payload":"Go home Tokyo","type":"str","expression":"0 30 16 * * 1-5","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":570,"y":680,"wires":[["f7339fc7.f69a6"]]},{"id":"f7339fc7.f69a6","type":"debug","z":"21106466.70e60c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","x":790,"y":680,"wires":[]},{"id":"99078346.24313","type":"cronplus","z":"21106466.70e60c","name":"Simple every hour Mon ~ Fri","outputField":"payload","timeZone":"","commandResponseMsgOutput":"output1","outputs":1,"options":[{"expressionType":"cron","name":"schedule1","topic":"hourly","payload":"Every hour, mon-fri","type":"str","expression":"0 0 * * * MON-FRI","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":580,"y":580,"wires":[["ea4d4f09.087c1"]]},{"id":"ea4d4f09.087c1","type":"debug","z":"21106466.70e60c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":810,"y":580,"wires":[]},{"id":"48bf5078.a28bf","type":"comment","z":"21106466.70e60c","name":"Demonstrating 2 schedules & timezone","info":"","x":590,"y":640,"wires":[]},{"id":"a472600d.5be9d","type":"comment","z":"21106466.70e60c","name":"Simple example. Only 1 UI entry so inject button appears","info":"","x":650,"y":540,"wires":[]}]