examples/dynamic schedules.json
[{"id":"ac3afbb7.56f7a8","type":"inject","z":"30b25d3f.3e99f2","name":"describe 0 */5 * * * MON *","topic":"","payload":"{\"command\":\"describe\",\"expression\":\"0 */5 * * * MON *\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":80,"wires":[["65892a57.612d44"]]},{"id":"65892a57.612d44","type":"cronplus","z":"30b25d3f.3e99f2","name":"","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output2","outputs":2,"options":[{"name":"e15","topic":"Every 15","payloadType":"default","payload":"","expressionType":"cron","expression":"0 15,30,45 * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"noon","topic":"noon","payloadType":"default","payload":"","expressionType":"cron","expression":"0 0 12 * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":520,"y":380,"wires":[["8a452815.9ceb68"],["e60daf12.48c83"]]},{"id":"e55fda59.f37f18","type":"inject","z":"30b25d3f.3e99f2","name":"Get list of schedules","topic":"list-all","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":160,"wires":[["65892a57.612d44"]]},{"id":"8a452815.9ceb68","type":"debug","z":"30b25d3f.3e99f2","name":"Sched Trigger","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":740,"y":340,"wires":[]},{"id":"e60daf12.48c83","type":"debug","z":"30b25d3f.3e99f2","name":"Control Reply","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":740,"y":380,"wires":[]},{"id":"16c930f5.ec3a9f","type":"inject","z":"30b25d3f.3e99f2","name":"add every 6 (maxCount 3)","topic":"add","payload":"{\"command\":\"add\",\"name\":\"every 6\",\"expression\":\"*/6 * * * * * *\",\"type\":\"default\",\"limit\":3}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":220,"wires":[["65892a57.612d44"]]},{"id":"ad104abb.fc4a28","type":"inject","z":"30b25d3f.3e99f2","name":"remove every 6","topic":"remove every 6","payload":"{\"command\": \"remove\", \"name\":\"every 6\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":260,"wires":[["65892a57.612d44"]]},{"id":"9126a056.6de91","type":"inject","z":"30b25d3f.3e99f2","name":"stop every 6","topic":"","payload":"{\"command\": \"stop\", \"name\":\"every 6\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":300,"wires":[["65892a57.612d44"]]},{"id":"e8abe66.6a0aa18","type":"inject","z":"30b25d3f.3e99f2","name":"pause every 6","topic":"","payload":"{\"command\": \"pause\", \"name\":\"every 6\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":340,"wires":[["65892a57.612d44"]]},{"id":"9e8a3202.ae3d9","type":"inject","z":"30b25d3f.3e99f2","name":"add every 8","topic":"_ignore_","payload":"{\"command\":\"add\",\"name\":\"every 8\",\"expression\":\"*/8 * * * * * *\",\"payload\":\"hi every 8\",\"type\":\"str\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":80,"wires":[["65892a57.612d44"]]},{"id":"276fbb6f.b78e94","type":"inject","z":"30b25d3f.3e99f2","name":"remove every 8","topic":"remove","payload":"every 8","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":120,"wires":[["65892a57.612d44"]]},{"id":"540f9bdc.808cf4","type":"inject","z":"30b25d3f.3e99f2","name":"start every 6","topic":"start","payload":"every 6","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":380,"wires":[["65892a57.612d44"]]},{"id":"f7509f08.69bb9","type":"inject","z":"30b25d3f.3e99f2","name":"remove-all-dynamic","topic":"remove-all-dynamic","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":480,"wires":[["65892a57.612d44"]]},{"id":"e057de86.30bfa","type":"inject","z":"30b25d3f.3e99f2","name":"pause-all","topic":"","payload":"{\"command\": \"pause-all\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":540,"wires":[["65892a57.612d44"]]},{"id":"b247f14a.cf2f","type":"inject","z":"30b25d3f.3e99f2","name":"start-all","topic":"start-all","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":700,"wires":[["65892a57.612d44"]]},{"id":"6ea9b27a.04bf6c","type":"inject","z":"30b25d3f.3e99f2","name":"stop-all","topic":"stop-all","payload":"{\"command\": \"stop-all\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":580,"wires":[["65892a57.612d44"]]},{"id":"4a1dc32e.9dbf1c","type":"inject","z":"30b25d3f.3e99f2","name":"add 3 schedules","topic":"add","payload":"[{\"command\":\"add\",\"name\":\"every 5 mins on monday\",\"expression\":\"0 */5 * * * MON *\",\"payload\":\"hi every 5 - it must be monday\",\"type\":\"str\",\"limit\":3},{\"command\":\"add\",\"name\":\"every 10 mins on tuesday\",\"expression\":\"0 */10 * * * TUE *\",\"payload\":\"It must be tuesday\",\"type\":\"str\",\"limit\":3},{\"command\":\"add\",\"name\":\"every 20s Wed~Sun\",\"expression\":\"*/20 * * * * 3-7 *\",\"payload\":\"Hi wed~sun\",\"type\":\"default\",\"limit\":3}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":440,"wires":[["65892a57.612d44"]]},{"id":"6dde0693.66ed08","type":"inject","z":"30b25d3f.3e99f2","name":"describe array of expressions","topic":"","payload":"[{\"command\":\"describe\",\"expression\":\"0 0 2 29 FEB * 2020-2040\"},{\"command\":\"describe\",\"expression\":\"4 */7 * * * 1-4 *\"},{\"command\":\"describe\",\"expression\":\"0/20 * * * * MON *\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":500,"y":120,"wires":[["65892a57.612d44"]]},{"id":"27e00c01.1fd474","type":"inject","z":"30b25d3f.3e99f2","name":"Get status of \"every 8\"","topic":"status","payload":"every 8","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":160,"wires":[["65892a57.612d44"]]},{"id":"221cb0d1.2321f","type":"inject","z":"30b25d3f.3e99f2","name":"export all dynamic schedules","topic":"","payload":"{\"command\":\"export-all-dynamic\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":820,"wires":[["65892a57.612d44"]]},{"id":"482be49c.66898c","type":"comment","z":"30b25d3f.3e99f2","name":"Fully dynamic example demonstrating many functions of CRON-PLUS - see built in help for more info","info":"","x":420,"y":40,"wires":[]},{"id":"3c39c8ac.e11a08","type":"cronplus","z":"30b25d3f.3e99f2","name":"Tokyo 8am & 4:30pm, Mon ~ Fri","outputField":"payload","timeZone":"Asia/Tokyo","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"Start-of-shift","payloadType":"str","payload":"Start work now Tokyo","expressionType":"cron","expression":"0 0 8 * * 1-5","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule2","topic":"End-of-shift","payloadType":"str","payload":"Go home Tokyo","expressionType":"cron","expression":"0 30 16 * * 1-5","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":590,"y":620,"wires":[["7945501b.3547"]]},{"id":"7945501b.3547","type":"debug","z":"30b25d3f.3e99f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","x":790,"y":620,"wires":[]},{"id":"7ad3fa7f.e3acd4","type":"cronplus","z":"30b25d3f.3e99f2","name":"Simple every hour Mon ~ Fri","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"hourly","payloadType":"str","payload":"Every hour, mon-fri","expressionType":"cron","expression":"0 0 * * * MON-FRI","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":580,"y":520,"wires":[["5f323eb9.e9f7d"]]},{"id":"5f323eb9.e9f7d","type":"debug","z":"30b25d3f.3e99f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":810,"y":520,"wires":[]},{"id":"48b74cdb.647ea4","type":"comment","z":"30b25d3f.3e99f2","name":"Demonstrating 2 schedules & timezone","info":"","x":610,"y":580,"wires":[]},{"id":"94553308.0c403","type":"comment","z":"30b25d3f.3e99f2","name":"Simple example. Only 1 UI entry so inject button appears","info":"","x":670,"y":480,"wires":[]},{"id":"2db145e3.78f78a","type":"inject","z":"30b25d3f.3e99f2","name":"stop-all-dynamic","topic":"stop-all-dynamic","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":620,"wires":[["65892a57.612d44"]]},{"id":"9ac1b61.86b6d48","type":"inject","z":"30b25d3f.3e99f2","name":"stop-all-static","topic":"stop-all-static","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":660,"wires":[["65892a57.612d44"]]},{"id":"81b4094b.d0d778","type":"inject","z":"30b25d3f.3e99f2","name":"start-all-dynamic","topic":"start-all-dynamic","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":740,"wires":[["65892a57.612d44"]]},{"id":"b3512276.df97c","type":"inject","z":"30b25d3f.3e99f2","name":"start-all-static","topic":"start-all-static","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":780,"wires":[["65892a57.612d44"]]}]