examples/fan out.json
[{"id":"627bdce3.7a7084","type":"cronplus","z":"553814a2.1248ec","name":"","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"fanOut","outputs":4,"options":[{"name":"every7Sec","topic":"schedule1","payloadType":"default","payload":"","expressionType":"cron","expression":"0/7 * * * * *","location":"48.66557095325139 -55.1513671875","offset":"-6","solarType":"selected","solarEvents":"sunrise,sunset"},{"name":"every5Sec","topic":"schedule2","payloadType":"default","payload":"","expressionType":"cron","expression":"0/5 * * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":1020,"y":160,"wires":[["2447422e.4c17fe"],["deb8ddfe.12e6c"],["e3b8f706.cc3248"],["5a7f8737.cb2468"]]},{"id":"ef0eb1c5.29188","type":"inject","z":"553814a2.1248ec","name":"status-all command","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"status-all","payload":"","payloadType":"str","x":810,"y":180,"wires":[["627bdce3.7a7084"]]},{"id":"2447422e.4c17fe","type":"debug","z":"553814a2.1248ec","name":"Static Schedule 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1270,"y":84,"wires":[]},{"id":"deb8ddfe.12e6c","type":"debug","z":"553814a2.1248ec","name":"Static Schedule 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1270,"y":116,"wires":[]},{"id":"e3b8f706.cc3248","type":"debug","z":"553814a2.1248ec","name":"Dynamic Schedules messages","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1310,"y":148,"wires":[]},{"id":"5a7f8737.cb2468","type":"debug","z":"553814a2.1248ec","name":"Command responses","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1280,"y":180,"wires":[]},{"id":"4167d73a.70d0d8","type":"inject","z":"553814a2.1248ec","name":"add dyn every 6 sec","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"add","payload":"{     \"command\": \"add\",     \"name\": \"every 6\",     \"expression\": \"*/6 * * * * * *\",     \"expressionType\": \"cron\",     \"payloadType\": \"default\",     \"limit\": 3    }","payloadType":"json","x":810,"y":100,"wires":[["627bdce3.7a7084"]]},{"id":"79fb4c11.37fac4","type":"inject","z":"553814a2.1248ec","name":"add dyn every 9 sec","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"add","payload":"{\"command\":\"add\",\"name\":\"every 9\",\"expression\":\"*/9 * * * * * *\",\"expressionType\":\"cron\",\"payloadType\":\"default\",\"limit\":5}","payloadType":"json","x":810,"y":140,"wires":[["627bdce3.7a7084"]]}]