examples/march sunrise and weekend sunset.json
[{"id":"f48678de.0f5e48","type":"cronplus","z":"30b25d3f.3e99f2","name":"sunrise","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"schedule1","payloadType":"default","payload":"","expressionType":"solar","expression":"0 * * * * * *","location":"54.80385112692028 -1.58203125","offset":"0","solarType":"selected","solarEvents":"sunrise"}],"x":120,"y":540,"wires":[["d3ade435.4fa688"]]},{"id":"66fb6941.833ad8","type":"debug","z":"30b25d3f.3e99f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":540,"wires":[]},{"id":"d3ade435.4fa688","type":"switch","z":"30b25d3f.3e99f2","name":"Is March","property":"$parseInteger( $fromMillis(payload.triggerTimestamp, '[M]'), \"10\" )","propertyType":"jsonata","rules":[{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":540,"wires":[["66fb6941.833ad8"]]},{"id":"8340829a.b599a","type":"cronplus","z":"30b25d3f.3e99f2","name":"sunset","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"schedule1","payloadType":"default","payload":"","expressionType":"solar","expression":"0 * * * * * *","location":"54.80385112692028 -1.58203125","offset":"0","solarType":"selected","solarEvents":"sunset"}],"x":110,"y":480,"wires":[["d498ceff.44242"]]},{"id":"28544799.e76238","type":"debug","z":"30b25d3f.3e99f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":480,"wires":[]},{"id":"d498ceff.44242","type":"switch","z":"30b25d3f.3e99f2","name":"Is Weekend","property":"$fromMillis(payload.triggerTimestamp, '[F]')","propertyType":"jsonata","rules":[{"t":"eq","v":"saturday","vt":"str"},{"t":"eq","v":"sunday","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":480,"wires":[["28544799.e76238"],["28544799.e76238"]]}]