examples/NYSE Trading.json
[{"id":"934e630d.6a0bc","type":"cronplus","z":"21106466.70e60c","name":"","outputField":"payload","timeZone":"America/New_York","commandResponseMsgOutput":"output1","outputs":1,"options":[{"expressionType":"cron","topic":"stocks/nyse/trading","payload":"true","type":"bool","expression":"0 30 9 * * 1-5 ","location":"","offset":"0"},{"expressionType":"cron","topic":"stocks/nyse/trading","payload":"false","type":"bool","expression":"0 0 16 * * 1-5 ","location":"","offset":"0"}],"x":520,"y":280,"wires":[["ae80a316.844df"]]},{"id":"ae80a316.844df","type":"switch","z":"21106466.70e60c","name":"Is Trading?","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":280,"wires":[["3a323d5b.a8fcb2"],["db6decab.08e0d"]],"outputLabels":["Yes","No"]},{"id":"3a323d5b.a8fcb2","type":"debug","z":"21106466.70e60c","name":"Trading Started","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":940,"y":260,"wires":[]},{"id":"db6decab.08e0d","type":"debug","z":"21106466.70e60c","name":"Trading Ended","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":940,"y":300,"wires":[]}]