examples/NYSE Trading.json
[{"id":"3a493177.36730e","type":"cronplus","z":"21106466.70e60c","name":"","outputField":"payload","timeZone":"America/New_York","commandResponseMsgOutput":"output1","outputs":1,"options":[{"expressionType":"cron","name":"schedule1","topic":"stocks/nyse/trading","payload":"true","type":"bool","expression":"0 30 9 * * 1-5 ","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"expressionType":"cron","name":"schedule2","topic":"stocks/nyse/trading","payload":"false","type":"bool","expression":"0 0 16 * * 1-5 ","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":320,"y":820,"wires":[["254f0673.3fcf7a"]]},{"id":"254f0673.3fcf7a","type":"switch","z":"21106466.70e60c","name":"Is Trading?","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":820,"wires":[["4549aab5.59dac4"],["802601c0.c1142"]],"outputLabels":["Yes","No"]},{"id":"4549aab5.59dac4","type":"debug","z":"21106466.70e60c","name":"Trading Started","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":740,"y":800,"wires":[]},{"id":"802601c0.c1142","type":"debug","z":"21106466.70e60c","name":"Trading Ended","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":740,"y":840,"wires":[]}]