examples/solar events.json
[{"id":"a6d46dff.aca4d","type":"inject","z":"30b25d3f.3e99f2","name":"describe solar events 2 locations","topic":"","payload":"[{\"command\":\"describe\",\"location\":\"54.9992500,-1.4170300\",\"expressionType\":\"solar\",\"solarType\":\"all\",\"timeZone\":\"Europe/London\",\"offset\":0,\"time\":\"2020-06-03 04:00\",\"info\":\"Get all solar events and status for Bents Park (54.9992500,-1.4170300) at 4am\"},{\"command\":\"describe\",\"location\":\"35.45743499930747 139.63778346776962\",\"expressionType\":\"solar\",\"solarType\":\"selected\",\"solarEvents\":\"sunrise,sunset\",\"timeZone\":\"Europe/London\",\"offset\":60,\"info\":\"Get sunrise/sunset times and status at yokohama intercontinental (35.45743499930747 139.63778346776962)\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":200,"wires":[["4eb68abd.a39914"]]},{"id":"4eb68abd.a39914","type":"cronplus","z":"30b25d3f.3e99f2","name":"","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output2","outputs":2,"options":[{"name":"ukne","topic":"uk/ne/solar_events","payloadType":"str","payload":"sunrise-uk","expressionType":"solar","expression":"0 * * * * * *","location":"54.9990878447323 -1.4176440238952634","offset":"-235","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"antarctica-srss","topic":"antarctica/sun","payloadType":"str","payload":"antarctica-ss","expressionType":"solar","expression":"0 * * * * * *","location":"-82.43033400458337 20.91796875","offset":"-380","solarType":"selected","solarEvents":"sunrise,sunset"}],"x":480,"y":280,"wires":[["62048115.6a206"],["2d35c203.e28a0e"]]},{"id":"62048115.6a206","type":"debug","z":"30b25d3f.3e99f2","name":"Schedule Triggered","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":240,"wires":[]},{"id":"2d35c203.e28a0e","type":"debug","z":"30b25d3f.3e99f2","name":"Command result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":720,"y":280,"wires":[]},{"id":"65117054.db183","type":"inject","z":"30b25d3f.3e99f2","name":"status of all","topic":"status-all","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":260,"wires":[["4eb68abd.a39914"]]},{"id":"763d247c.bd271c","type":"inject","z":"30b25d3f.3e99f2","name":"add \"sunrise-ny\"","topic":"","payload":"{\"command\":\"add\",\"name\":\"sunrise-ny\",\"payload\":\"sunrise-ny\",\"type\":\"default\",\"expressionType\":\"solar\",\"solarType\":\"selected\",\"solarEvents\":\"sunrise\",\"location\":\"40.70807700656229 -73.9995288848877\",\"offset\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":460,"wires":[["4eb68abd.a39914"]]},{"id":"875b3729.6779d8","type":"inject","z":"30b25d3f.3e99f2","name":"status of ukne","topic":"status","payload":"ukne","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":360,"wires":[["4eb68abd.a39914"]]},{"id":"f283e407.d89b98","type":"inject","z":"30b25d3f.3e99f2","name":"status of sunrise-ny","topic":"status","payload":"sunrise-ny","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":500,"wires":[["4eb68abd.a39914"]]},{"id":"9101cfca.214a9","type":"inject","z":"30b25d3f.3e99f2","name":"status of antarctica sunrise/sunset","topic":"status","payload":"antarctica-srss","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":400,"wires":[["4eb68abd.a39914"]]},{"id":"17de80e9.a156ff","type":"inject","z":"30b25d3f.3e99f2","name":"export-dynamic schedules","topic":"export-all-dynamic","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":300,"wires":[["4eb68abd.a39914"]]},{"id":"b851327d.642b3","type":"inject","z":"30b25d3f.3e99f2","name":"remove sunrise-ny","topic":"remove","payload":"sunrise-ny","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":540,"wires":[["4eb68abd.a39914"]]},{"id":"c4fd78d7.203dd8","type":"comment","z":"30b25d3f.3e99f2","name":"Simple demo of scheduling solar events & using the describe command","info":"","x":310,"y":160,"wires":[]}]