examples/solar events.json
[{"id":"2d4eea0.6f3c216","type":"inject","z":"21106466.70e60c","name":"describe solar events 2 locations","topic":"","payload":"[{\"command\":\"describe\",\"location\":\"54.9992500,-1.4170300\",\"expressionType\":\"solar\",\"solarType\":\"all\",\"timeZone\":\"Europe/London\",\"offset\":0,\"time\":\"2020-06-03 04:00\",\"info\":\"Get all solar events and status for Bents Park (54.9992500,-1.4170300) at 4am\"},{\"command\":\"describe\",\"location\":\"35.45743499930747 139.63778346776962\",\"expressionType\":\"solar\",\"solarType\":\"selected\",\"solarEvents\":\"sunrise,sunset\",\"timeZone\":\"Europe/London\",\"offset\":60,\"info\":\"Get sunrise/sunset times and status at yokohama intercontinental (35.45743499930747 139.63778346776962)\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":40,"wires":[["ce25f524.2a69f8"]]},{"id":"ce25f524.2a69f8","type":"cronplus","z":"21106466.70e60c","name":"","outputField":"payload","timeZone":"","commandResponseMsgOutput":"output2","outputs":2,"options":[{"expressionType":"solar","name":"ukne","topic":"uk/ne/solar_events","payload":"sunrise-uk","type":"str","expression":"0 * * * * * *","location":"54.9990878447323 -1.4176440238952634","offset":"-235","solarType":"all","solarEvents":"sunrise,sunset"},{"expressionType":"solar","name":"antarctica-srss","topic":"antarctica/sun","payload":"antarctica-ss","type":"str","expression":"0 * * * * * *","location":"-82.43033400458337 20.91796875","offset":"-380","solarType":"selected","solarEvents":"sunrise,sunset"}],"x":540,"y":120,"wires":[["834835a5.32d2f8"],["f7e8e067.97f4a"]]},{"id":"834835a5.32d2f8","type":"debug","z":"21106466.70e60c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":100,"wires":[]},{"id":"f7e8e067.97f4a","type":"debug","z":"21106466.70e60c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":140,"wires":[]},{"id":"bf543e7d.d1f6d","type":"inject","z":"21106466.70e60c","name":"status of all","topic":"","payload":"{\"command\":\"status-all\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":100,"wires":[["ce25f524.2a69f8"]]},{"id":"71936798.b63fb8","type":"inject","z":"21106466.70e60c","name":"add \"sunrise-ny\"","topic":"","payload":"{\"command\":\"add\",\"name\":\"sunrise-ny\",\"payload\":\"sunrise-ny\",\"type\":\"default\",\"expressionType\":\"solar\",\"solarType\":\"selected\",\"solarEvents\":\"sunrise\",\"location\":\"40.70807700656229 -73.9995288848877\",\"offset\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":300,"wires":[["ce25f524.2a69f8"]]},{"id":"bd3ff8e8.344cf8","type":"inject","z":"21106466.70e60c","name":"status of ukne","topic":"","payload":"{\"command\":\"status\",\"name\":\"ukne\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":200,"wires":[["ce25f524.2a69f8"]]},{"id":"2d5f44f2.f41d3c","type":"inject","z":"21106466.70e60c","name":"status of sunrise-ny","topic":"","payload":"{\"command\":\"status\",\"name\":\"sunrise-ny\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":340,"wires":[["ce25f524.2a69f8"]]},{"id":"139cf993.42c3c6","type":"inject","z":"21106466.70e60c","name":"status of antarctica sunrise/sunset","topic":"","payload":"{\"command\":\"status\",\"name\":\"antarctica-srss\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":240,"wires":[["ce25f524.2a69f8"]]},{"id":"35ab6847.38b268","type":"inject","z":"21106466.70e60c","name":"export-dynamic schedules","topic":"save","payload":"{\"command\":\"export-dynamic\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":140,"wires":[["ce25f524.2a69f8"]]}]