examples/solar events.json
[{"id":"2a443a7.e5b1dc6","type":"inject","z":"21106466.70e60c","name":"describe solar events 2 locations","topic":"","payload":"[{\"command\":\"describe\",\"location\":\"54.9992500,-1.4170300\",\"expressionType\":\"solar\",\"solarType\":\"all\",\"timeZone\":\"Europe/London\",\"offset\":0,\"time\":\"2020-06-03 04:00\",\"info\":\"Get all solar events and status for Bents Park (54.9992500,-1.4170300) at 4am\"},{\"command\":\"describe\",\"location\":\"35.45743499930747 139.63778346776962\",\"expressionType\":\"solar\",\"solarType\":\"selected\",\"solarEvents\":\"sunrise,sunset\",\"timeZone\":\"Europe/London\",\"offset\":60,\"info\":\"Get sunrise/sunset times and status at yokohama intercontinental (35.45743499930747 139.63778346776962)\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":720,"wires":[["a7932602.f65cf8"]]},{"id":"a7932602.f65cf8","type":"cronplus","z":"21106466.70e60c","name":"","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output2","outputs":2,"options":[{"expressionType":"solar","name":"ukne","topic":"uk/ne/solar_events","payload":"sunrise-uk","type":"str","expression":"0 * * * * * *","location":"54.9990878447323 -1.4176440238952634","offset":"-235","solarType":"all","solarEvents":"sunrise,sunset"},{"expressionType":"solar","name":"antarctica-srss","topic":"antarctica/sun","payload":"antarctica-ss","type":"str","expression":"0 * * * * * *","location":"-82.43033400458337 20.91796875","offset":"-380","solarType":"selected","solarEvents":"sunrise,sunset"}],"x":1020,"y":800,"wires":[["cd2c554.bf11ba8"],["fbb198a1.e4ab08"]]},{"id":"cd2c554.bf11ba8","type":"debug","z":"21106466.70e60c","name":"Schedule Triggered","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1270,"y":760,"wires":[]},{"id":"fbb198a1.e4ab08","type":"debug","z":"21106466.70e60c","name":"Command result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1260,"y":800,"wires":[]},{"id":"e207162a.e65988","type":"inject","z":"21106466.70e60c","name":"status of all","topic":"status-all","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":780,"wires":[["a7932602.f65cf8"]]},{"id":"50156493.f7b88c","type":"inject","z":"21106466.70e60c","name":"add \"sunrise-ny\"","topic":"","payload":"{\"command\":\"add\",\"name\":\"sunrise-ny\",\"payload\":\"sunrise-ny\",\"type\":\"default\",\"expressionType\":\"solar\",\"solarType\":\"selected\",\"solarEvents\":\"sunrise\",\"location\":\"40.70807700656229 -73.9995288848877\",\"offset\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":700,"y":980,"wires":[["a7932602.f65cf8"]]},{"id":"ec94f8bd.211138","type":"inject","z":"21106466.70e60c","name":"status of ukne","topic":"","payload":"{\"command\":\"status\",\"name\":\"ukne\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":880,"wires":[["a7932602.f65cf8"]]},{"id":"5d473dc4.30b7e4","type":"inject","z":"21106466.70e60c","name":"status of sunrise-ny","topic":"","payload":"{\"command\":\"status\",\"name\":\"sunrise-ny\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":1020,"wires":[["a7932602.f65cf8"]]},{"id":"e9c6b6b0.408fa8","type":"inject","z":"21106466.70e60c","name":"status of antarctica sunrise/sunset","topic":"","payload":"{\"command\":\"status\",\"name\":\"antarctica-srss\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":760,"y":920,"wires":[["a7932602.f65cf8"]]},{"id":"2fd75137.7d291e","type":"inject","z":"21106466.70e60c","name":"export-dynamic schedules","topic":"export-all-dynamic","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":820,"wires":[["a7932602.f65cf8"]]},{"id":"768f0ca9.6dda64","type":"inject","z":"21106466.70e60c","name":"remove sunrise-ny","topic":"remove","payload":"sunrise-ny","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":1060,"wires":[["a7932602.f65cf8"]]},{"id":"5b161ace.786cf4","type":"comment","z":"21106466.70e60c","name":"Simple demo of scheduling solar events & using the describe command","info":"","x":850,"y":680,"wires":[]}]