examples/Sunrise Sunset.json
[{"id":"4dc18f72.a1da2","type":"cronplus","z":"21106466.70e60c","name":"","outputField":"payload","timeZone":"","commandResponseMsgOutput":"output2","outputs":2,"options":[{"expressionType":"sunrise","topic":"sunrise-uk","payload":"sunrise-uk","type":"str","expression":"","location":"54.9990878447323 -1.4176440238952634","offset":"-60"},{"expressionType":"sunrise","topic":"sunrise-jp","payload":"sunrise-jp","type":"str","expression":"","location":"35.69550407383317 139.7460937","offset":"60"},{"expressionType":"sunrise","topic":"borden","payload":"borden","type":"str","expression":"","location":"80.181440, -99.234332","offset":"0"},{"expressionType":"sunrise","topic":"antarctica","payload":"antarctica","type":"str","expression":"","location":"-82.43033400458337 20.91796875","offset":"0"}],"x":720,"y":160,"wires":[["307b7ae4.ef6026"],["152f8d01.5adb33"]]},{"id":"307b7ae4.ef6026","type":"debug","z":"21106466.70e60c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":120,"wires":[]},{"id":"23b2b212.2b673e","type":"inject","z":"21106466.70e60c","name":"describe sunrise in 2 locations","topic":"","payload":"[{\"command\":\"describe\",\"location\":\"54.9992500,-1.4170300\",\"expressionType\":\"sunrise\",\"timeZone\":\"Europe/London\",\"offset\":-60,\"info\":\"Describe sunrise for Bents Park (54.9992500,-1.4170300)\"},{\"command\":\"describe\",\"location\":\"35.45743499930747 139.63778346776962\",\"expressionType\":\"sunrise\",\"timeZone\":\"Europe/London\",\"offset\":60,\"info\":\"Describe sunrise at yokohama intercontinental (35.45743499930747 139.63778346776962)\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":500,"y":60,"wires":[["4dc18f72.a1da2"]]},{"id":"fe5fa490.233128","type":"inject","z":"21106466.70e60c","name":"status of all","topic":"","payload":"{\"command\":\"status-all\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":120,"wires":[["4dc18f72.a1da2"]]},{"id":"ef582828.d98988","type":"inject","z":"21106466.70e60c","name":"add \"sunrise-ny\"","topic":"","payload":"{\"command\":\"add\",\"name\":\"sunrise-ny\",\"payload\":\"sunrise-ny\",\"type\":\"str\",\"limit\":null,\"expressionType\":\"sunrise\",\"location\":\"40.70807700656229 -73.9995288848877\",\"offset\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":360,"wires":[["4dc18f72.a1da2"]]},{"id":"77a3467.33dc9b8","type":"inject","z":"21106466.70e60c","name":"status of sunrise-uk","topic":"","payload":"{\"command\":\"status\",\"name\":\"sunrise-uk\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":240,"wires":[["4dc18f72.a1da2"]]},{"id":"9c4b5010.ae129","type":"inject","z":"21106466.70e60c","name":"status of sunrise-jp","topic":"","payload":"{\"command\":\"status\",\"name\":\"sunrise-jp\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":280,"wires":[["4dc18f72.a1da2"]]},{"id":"6cdccc25.580d94","type":"inject","z":"21106466.70e60c","name":"status of sunrise-ny","topic":"","payload":"{\"command\":\"status\",\"name\":\"sunrise-ny\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":400,"wires":[["4dc18f72.a1da2"]]},{"id":"152f8d01.5adb33","type":"debug","z":"21106466.70e60c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":160,"wires":[]},{"id":"84331372.30af","type":"inject","z":"21106466.70e60c","name":"status of antarctica","topic":"","payload":"{\"command\":\"status\",\"name\":\"antarctica\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":320,"wires":[["4dc18f72.a1da2"]]}]