examples/using dates.json
[{"id":"2f8ea9ba.cc26d6","type":"comment","z":"21106466.70e60c","name":"Demonstrating fixes times as schedule","info":"","x":430,"y":200,"wires":[]},{"id":"7cbe8cdf.a5b3d4","type":"debug","z":"21106466.70e60c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":360,"wires":[]},{"id":"298086f6.37939a","type":"inject","z":"21106466.70e60c","name":"Get status-all","topic":"status-all","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":360,"wires":[["c5be61bb.16781"]]},{"id":"128cac90.528bb3","type":"inject","z":"21106466.70e60c","name":"Add a 2 dynamic date sequence entries, 30 sec and 1 min from now","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":540,"y":240,"wires":[["a5cda63.977e558"]]},{"id":"a5cda63.977e558","type":"function","z":"21106466.70e60c","name":"create payload to add 2 dates","func":"let nowPlus30s = (new Date()).addSeconds(30);\nlet nowPlus1min = (new Date()).addSeconds(60);\nmsg.payload = {\n    \"command\":\"add\",\n    \"name\":\"DynamicDates\",\n    \"topic\":\"DynamicDates\",\n    \"expression\" : [nowPlus30s, nowPlus1min],\n    \"type\":\"default\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":300,"wires":[["c5be61bb.16781"]]},{"id":"c5be61bb.16781","type":"cronplus","z":"21106466.70e60c","name":"Date Sequence and CRON","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"fixed dates","payloadType":"str","payload":"fixed","expressionType":"dates","expression":"1609459200000, 2021-12-31 00:00, 2022-12-31 08:00 GMT+8","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule2","topic":"cron","payloadType":"str","payload":"lunch time","expressionType":"cron","expression":"0 0 12 * * * 2021-2061","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":620,"y":360,"wires":[["7cbe8cdf.a5b3d4"]]}]