examples/using dates.json
[{"id":"af7cc061.9494f","type":"comment","z":"58c6b2f2.2dcbbc","name":"Demonstrating fixes times as schedule","info":"","x":170,"y":80,"wires":[]},{"id":"54bcf724.e7a4b8","type":"cronplus","z":"58c6b2f2.2dcbbc","name":"Fixed dates and CRON","outputField":"payload","timeZone":"","options":[{"topic":"fixed dates","payload":"fixed","type":"str","expression":"1609459200000, 2021-12-31 00:00, 2022-12-31 08:00 GMT+8"},{"topic":"cron","payload":"lunch time","type":"str","expression":"0 0 12 * * * 2021-2061"}],"x":390,"y":200,"wires":[["ddb3c04d.09623"]]},{"id":"ddb3c04d.09623","type":"debug","z":"58c6b2f2.2dcbbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":200,"wires":[]},{"id":"1c6c20dd.95ec3f","type":"inject","z":"58c6b2f2.2dcbbc","name":"Get status-all","topic":"","payload":"{     \"command\": \"status-all\" }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":200,"wires":[["54bcf724.e7a4b8"]]},{"id":"9075620.028c6a","type":"inject","z":"58c6b2f2.2dcbbc","name":"Add a 2 fixed time entries, 30 sec and 1 min from now","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":120,"wires":[["1b8876b6.0d8569"]]},{"id":"1b8876b6.0d8569","type":"function","z":"58c6b2f2.2dcbbc","name":"create payload to add 2 dates","func":"let nowPlus30s = (new Date()).addSeconds(30);\nlet nowPlus1min = (new Date()).addSeconds(60);\nmsg.payload = {\n    \"command\":\"add\",\n    \"name\":\"dynamic date sequence\",\n    \"expression\" : [nowPlus30s, nowPlus1min],\n    \"payload\":\"dynamic\",\n    \"type\":\"str\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":160,"wires":[["54bcf724.e7a4b8"]]}]