examples/debug/all-command-test.json
[{"id":"29ae8788.7b8c48","type":"inject","z":"21106466.70e60c","name":"describe solar events 2 locations","topic":"","payload":"[{\"command\":\"describe\",\"location\":\"54.9992500,-1.4170300\",\"expressionType\":\"solar\",\"solarType\":\"all\",\"timeZone\":\"Europe/London\",\"offset\":0,\"time\":\"2020-06-03 04:00\",\"info\":\"Get all solar events and status for Bents Park (54.9992500,-1.4170300) at 4am\"},{\"command\":\"describe\",\"location\":\"35.45743499930747 139.63778346776962\",\"expressionType\":\"solar\",\"solarType\":\"selected\",\"solarEvents\":\"sunrise,sunset\",\"timeZone\":\"Europe/London\",\"offset\":60,\"info\":\"Get sunrise/sunset times and status at yokohama intercontinental (35.45743499930747 139.63778346776962)\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":60,"wires":[["57b18b2.478c974"]]},{"id":"57b18b2.478c974","type":"cronplus","z":"21106466.70e60c","name":"","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output2","outputs":2,"options":[{"expressionType":"solar","name":"schedule1","topic":"japan/tokyo/30","payload":"","type":"default","expression":"0 * * * * * *","location":"31.120557886326 121.4208984375","offset":"30","solarType":"selected","solarEvents":"sunrise,sunset"},{"expressionType":"solar","name":"schedule2","topic":"newyork","payload":"","type":"default","expression":"0 * * * * * *","location":"40.70471701226026 -73.992919921875","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"expressionType":"solar","name":"schedule3","topic":"seatle","payload":"","type":"default","expression":"0 * * * * * *","location":"47.57502024527343 -122.32177734375","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"expressionType":"solar","name":"schedule4","topic":"russia","payload":"","type":"default","expression":"0 * * * * * *","location":"64.3042040393387 97.3828125","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"expressionType":"solar","name":"schedule5","topic":"brisbane","payload":"","type":"default","expression":"0 * * * * * *","location":"-27.50933718710976 153.028564453125","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"expressionType":"cron","name":"schedule6","topic":"15m/exc6am6pm","payload":"Cron that runs every 15m except between 6am-7am and 6pm-7pm","type":"str","expression":"0 15,30,45 7-17,19-5 * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":700,"y":60,"wires":[["fcc963a0.3d0c9"],["43f37f75.3efd8"]]},{"id":"fcc963a0.3d0c9","type":"debug","z":"21106466.70e60c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":20,"wires":[]},{"id":"43f37f75.3efd8","type":"debug","z":"21106466.70e60c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":60,"wires":[]},{"id":"84faca61.0394f8","type":"inject","z":"21106466.70e60c","name":"add \"sunrise-ny\"","topic":"","payload":"{\"command\":\"add\",\"name\":\"sunrise-ny\",\"payload\":\"sunrise-ny\",\"type\":\"default\",\"expressionType\":\"solar\",\"solarType\":\"selected\",\"solarEvents\":\"sunrise\",\"location\":\"40.70807700656229 -73.9995288848877\",\"offset\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":280,"wires":[["57b18b2.478c974"]]},{"id":"19b4ecd4.edbac3","type":"inject","z":"21106466.70e60c","name":"status of ukne","topic":"","payload":"{\"command\":\"status\",\"name\":\"ukne\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":220,"wires":[["57b18b2.478c974"]]},{"id":"fc7ec0c2.64d2e","type":"inject","z":"21106466.70e60c","name":"status of sunrise-ny","topic":"","payload":"{\"command\":\"status\",\"name\":\"sunrise-ny\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":320,"wires":[["57b18b2.478c974"]]},{"id":"22960724.5b9c78","type":"inject","z":"21106466.70e60c","name":"add every10Min","topic":"","payload":"{\"command\":\"add\",\"name\":\"every10\",\"topic\":\"every10\",\"type\":\"default\",\"expressionType\":\"cron\",\"expression\":\"0 0/10 * * * *\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":460,"wires":[["57b18b2.478c974"]]},{"id":"42cc7e46.58d9d","type":"inject","z":"21106466.70e60c","name":"stop-all-dynamic","topic":"","payload":"{\"command\":\"stop-all-dynamic\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":400,"wires":[["57b18b2.478c974"]]},{"id":"3362d0e6.63d52","type":"inject","z":"21106466.70e60c","name":"start-all-dynamic","topic":"","payload":"{\"command\":\"start-all-dynamic\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":440,"wires":[["57b18b2.478c974"]]},{"id":"360eba44.983606","type":"inject","z":"21106466.70e60c","name":"stop-all-static","topic":"","payload":"{\"command\":\"stop-all-static\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":610,"y":530,"wires":[["57b18b2.478c974"]]},{"id":"98458a37.8ca758","type":"inject","z":"21106466.70e60c","name":"start-all-static","topic":"","payload":"{\"command\":\"start-all-static\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":610,"y":570,"wires":[["57b18b2.478c974"]]},{"id":"9fe0592.2540aa8","type":"inject","z":"21106466.70e60c","name":"stop-all","topic":"","payload":"{\"command\":\"stop-all\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":620,"wires":[["57b18b2.478c974"]]},{"id":"97867a7a.f00018","type":"inject","z":"21106466.70e60c","name":"start-all","topic":"","payload":"{\"command\":\"start-all\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":660,"wires":[["57b18b2.478c974"]]},{"id":"d42bf18a.f52c","type":"inject","z":"21106466.70e60c","name":"pause-all","topic":"","payload":"{\"command\":\"pause-all\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":700,"wires":[["57b18b2.478c974"]]},{"id":"87e6cd40.ad1eb","type":"inject","z":"21106466.70e60c","name":"pause-all-dynamic","topic":"","payload":"{\"command\":\"pause-all-dynamic\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":630,"y":360,"wires":[["57b18b2.478c974"]]},{"id":"187e34ea.be683b","type":"inject","z":"21106466.70e60c","name":"pause-all-static","topic":"","payload":"{\"command\":\"pause-all-static\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":490,"wires":[["57b18b2.478c974"]]},{"id":"fae0502a.9d074","type":"inject","z":"21106466.70e60c","name":"stop-all-dynamic","topic":"stop-all-dynamic","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":880,"y":400,"wires":[["57b18b2.478c974"]]},{"id":"eb29906f.7ecfe","type":"inject","z":"21106466.70e60c","name":"start-all-dynamic","topic":"start-all-dynamic","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":880,"y":440,"wires":[["57b18b2.478c974"]]},{"id":"99865311.05b0c","type":"inject","z":"21106466.70e60c","name":"stop-all-static","topic":"stop-all-static","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":870,"y":530,"wires":[["57b18b2.478c974"]]},{"id":"12bed4c1.0f9ebb","type":"inject","z":"21106466.70e60c","name":"start-all-static","topic":"start-all-static","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":870,"y":570,"wires":[["57b18b2.478c974"]]},{"id":"4fffff8a.3e7b8","type":"inject","z":"21106466.70e60c","name":"stop-all","topic":"stop-all","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":850,"y":620,"wires":[["57b18b2.478c974"]]},{"id":"854f17b0.96d578","type":"inject","z":"21106466.70e60c","name":"start-all","topic":"start-all","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":850,"y":660,"wires":[["57b18b2.478c974"]]},{"id":"c48dd01c.b62ce","type":"inject","z":"21106466.70e60c","name":"pause-all","topic":"pause-all","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":860,"y":700,"wires":[["57b18b2.478c974"]]},{"id":"f3cc8d64.2907a","type":"inject","z":"21106466.70e60c","name":"pause-all-dynamic","topic":"pause-all-dynamic","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":890,"y":360,"wires":[["57b18b2.478c974"]]},{"id":"b7b7d902.3587e8","type":"inject","z":"21106466.70e60c","name":"pause-all-static","topic":"pause-all-static","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":880,"y":490,"wires":[["57b18b2.478c974"]]},{"id":"befa2c7.d3ee2d","type":"inject","z":"21106466.70e60c","name":"start every10","topic":"start","payload":"every10","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":540,"wires":[["57b18b2.478c974"]]},{"id":"21b2d562.6ac32a","type":"inject","z":"21106466.70e60c","name":"stop every10","topic":"stop","payload":"every10","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":500,"wires":[["57b18b2.478c974"]]},{"id":"ca64a17a.81a23","type":"inject","z":"21106466.70e60c","name":"stop ukne","topic":"stop","payload":"ukne","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":140,"wires":[["57b18b2.478c974"]]},{"id":"9067be6c.0a87b","type":"inject","z":"21106466.70e60c","name":"start ukne","topic":"start","payload":"ukne","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":180,"wires":[["57b18b2.478c974"]]},{"id":"212de61e.bbcb7a","type":"inject","z":"21106466.70e60c","name":"delete-all","topic":"delete-all","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":860,"y":240,"wires":[["57b18b2.478c974"]]},{"id":"ca6c0004.8699d","type":"inject","z":"21106466.70e60c","name":"remove-all-dynamic","topic":"remove-all-dynamic","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":890,"y":320,"wires":[["57b18b2.478c974"]]},{"id":"b900ef6a.c0497","type":"inject","z":"21106466.70e60c","name":"delete-all-static","topic":"delete-all-static","payload":"not important! this is ignored!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":880,"y":280,"wires":[["57b18b2.478c974"]]},{"id":"eab9f3e2.07cd6","type":"inject","z":"21106466.70e60c","name":"status-all","topic":"status-all","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":860,"y":200,"wires":[["57b18b2.478c974"]]},{"id":"a1584927.7b2b18","type":"inject","z":"21106466.70e60c","name":"status-all","topic":"status-all","payload":"{\"command\":\"status-all\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":200,"wires":[["57b18b2.478c974"]]},{"id":"873156c.20bd3a8","type":"inject","z":"21106466.70e60c","name":"delete-all","topic":"delete-all","payload":"{\"command\":\"delete-all\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":240,"wires":[["57b18b2.478c974"]]},{"id":"28a80503.dd73aa","type":"inject","z":"21106466.70e60c","name":"delete-all-static","topic":"delete-all-static","payload":"{\"command\":\"delete-all-static\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":280,"wires":[["57b18b2.478c974"]]},{"id":"7fb056bf.56fd08","type":"inject","z":"21106466.70e60c","name":"remove-all-dynamic","topic":"delete-all-dynamic","payload":"{\"command\":\"remove-all-dynamic\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":630,"y":320,"wires":[["57b18b2.478c974"]]},{"id":"857912d8.9cabb","type":"inject","z":"21106466.70e60c","name":"start sunrise-ny","topic":"start","payload":"sunrise-ny","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":400,"wires":[["57b18b2.478c974"]]},{"id":"f5eb2c3a.b0cab","type":"inject","z":"21106466.70e60c","name":"stop sunrise-ny","topic":"stop","payload":"sunrise-ny","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":360,"wires":[["57b18b2.478c974"]]},{"id":"10a2a419.26a75c","type":"comment","z":"21106466.70e60c","name":"demo of payload commands","info":"","x":640,"y":160,"wires":[]},{"id":"3d3d820c.2c63de","type":"comment","z":"21106466.70e60c","name":"demo of topic commands","info":"","x":890,"y":160,"wires":[]},{"id":"3dca15b5.02618a","type":"inject","z":"21106466.70e60c","name":"export schedule1","topic":"export","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":880,"y":860,"wires":[["57b18b2.478c974"]]},{"id":"c92430b0.37f57","type":"inject","z":"21106466.70e60c","name":"export-all-dynamic","topic":"export-all-dynamic","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":890,"y":780,"wires":[["57b18b2.478c974"]]},{"id":"ea30d981.e70798","type":"inject","z":"21106466.70e60c","name":"export-all-static","topic":"export-all-static","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":880,"y":820,"wires":[["57b18b2.478c974"]]},{"id":"7be0f62.18baa08","type":"inject","z":"21106466.70e60c","name":"export-all","topic":"export-all","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":860,"y":740,"wires":[["57b18b2.478c974"]]},{"id":"a5a1d470.fc4ff8","type":"inject","z":"21106466.70e60c","name":"export schedule1","topic":"","payload":"{\"command\":\"export\", \"name\": \"schedule1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":860,"wires":[["57b18b2.478c974"]]},{"id":"7fb30121.961f9","type":"inject","z":"21106466.70e60c","name":"export-all-dynamic","topic":"","payload":"{\"command\":\"export-all-dynamic\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":630,"y":780,"wires":[["57b18b2.478c974"]]},{"id":"d12da8f5.1b2658","type":"inject","z":"21106466.70e60c","name":"export-all-static","topic":"","payload":"{\"command\":\"export-all-static\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":820,"wires":[["57b18b2.478c974"]]},{"id":"9004166b.c73658","type":"inject","z":"21106466.70e60c","name":"export-all","topic":"","payload":"{\"command\":\"export-all\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":740,"wires":[["57b18b2.478c974"]]},{"id":"b0e4eead.f9d1c","type":"comment","z":"21106466.70e60c","name":"Big dynamic demo - demonstrates adding, removing and most other commands","info":"","x":480,"y":20,"wires":[]}]