examples/debug/all-command-test.json
[{"id":"1cd4fbf3.35c144","type":"inject","z":"30b25d3f.3e99f2","name":"describe solar events 2 locations","topic":"","payload":"[{\"command\":\"describe\",\"location\":\"54.9992500,-1.4170300\",\"expressionType\":\"solar\",\"solarType\":\"all\",\"timeZone\":\"Europe/London\",\"offset\":0,\"time\":\"2020-06-03 04:00\",\"info\":\"Get all solar events and status for Bents Park (54.9992500,-1.4170300) at 4am\"},{\"command\":\"describe\",\"location\":\"35.45743499930747 139.63778346776962\",\"expressionType\":\"solar\",\"solarType\":\"selected\",\"solarEvents\":\"sunrise,sunset\",\"timeZone\":\"Europe/London\",\"offset\":60,\"info\":\"Get sunrise/sunset times and status at yokohama intercontinental (35.45743499930747 139.63778346776962)\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":80,"wires":[["d52bdeb9.ecc12"]]},{"id":"d52bdeb9.ecc12","type":"cronplus","z":"30b25d3f.3e99f2","name":"","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output2","outputs":2,"options":[{"name":"schedule1","topic":"japan/tokyo/30","payloadType":"default","payload":"","expressionType":"solar","expression":"0 * * * * * *","location":"31.120557886326 121.4208984375","offset":"30","solarType":"selected","solarEvents":"sunrise,sunset"},{"name":"schedule2","topic":"newyork","payloadType":"default","payload":"","expressionType":"solar","expression":"0 * * * * * *","location":"40.70471701226026 -73.992919921875","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"ukne","topic":"uk/ne/solar/all","payloadType":"default","payload":"","expressionType":"solar","expression":"0 * * * * * *","location":"54.99908621083092 -1.4171397686004639","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule5","topic":"brisbane","payloadType":"default","payload":"","expressionType":"solar","expression":"0 * * * * * *","location":"-27.50933718710976 153.028564453125","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule6","topic":"15m/exc6am6pm","payloadType":"str","payload":"Cron that runs every 15m except between 6am-7am and 6pm-7pm","expressionType":"cron","expression":"0 15,30,45 7-17,19-5 * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":540,"y":80,"wires":[["1ea827af.902428"],["aefefccb.4bc13"]]},{"id":"1ea827af.902428","type":"debug","z":"30b25d3f.3e99f2","name":"Scheduled Events","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":40,"wires":[]},{"id":"aefefccb.4bc13","type":"debug","z":"30b25d3f.3e99f2","name":"Command Responses","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":840,"y":80,"wires":[]},{"id":"41ff03e4.1101fc","type":"inject","z":"30b25d3f.3e99f2","name":"add \"sunrise-ny\"","topic":"","payload":"{\"command\":\"add\",\"name\":\"sunrise-ny\",\"payload\":\"sunrise-ny\",\"type\":\"default\",\"expressionType\":\"solar\",\"solarType\":\"selected\",\"solarEvents\":\"sunrise\",\"location\":\"40.70807700656229 -73.9995288848877\",\"offset\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":300,"wires":[["d52bdeb9.ecc12"]]},{"id":"e1f2661e.05ead8","type":"inject","z":"30b25d3f.3e99f2","name":"status of ukne","topic":"","payload":"{\"command\":\"status\",\"name\":\"ukne\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["d52bdeb9.ecc12"]]},{"id":"3a28e735.117cf8","type":"inject","z":"30b25d3f.3e99f2","name":"status of sunrise-ny","topic":"","payload":"{\"command\":\"status\",\"name\":\"sunrise-ny\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":340,"wires":[["d52bdeb9.ecc12"]]},{"id":"afc4bee8.8cdf8","type":"inject","z":"30b25d3f.3e99f2","name":"add every10Min","topic":"","payload":"{\"command\":\"add\",\"name\":\"every10\",\"topic\":\"every10\",\"type\":\"default\",\"expressionType\":\"cron\",\"expression\":\"0 0/10 * * * *\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":480,"wires":[["d52bdeb9.ecc12"]]},{"id":"a1670469.74c7c8","type":"inject","z":"30b25d3f.3e99f2","name":"stop-all-dynamic","topic":"","payload":"{\"command\":\"stop-all-dynamic\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":420,"wires":[["d52bdeb9.ecc12"]]},{"id":"4a86615.130f6a","type":"inject","z":"30b25d3f.3e99f2","name":"start-all-dynamic","topic":"","payload":"{\"command\":\"start-all-dynamic\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":460,"wires":[["d52bdeb9.ecc12"]]},{"id":"bd3fd632.248d78","type":"inject","z":"30b25d3f.3e99f2","name":"stop-all-static","topic":"","payload":"{\"command\":\"stop-all-static\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":550,"wires":[["d52bdeb9.ecc12"]]},{"id":"30a7db13.2fc7c4","type":"inject","z":"30b25d3f.3e99f2","name":"start-all-static","topic":"","payload":"{\"command\":\"start-all-static\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":590,"wires":[["d52bdeb9.ecc12"]]},{"id":"72d91c.d4b316e4","type":"inject","z":"30b25d3f.3e99f2","name":"stop-all","topic":"","payload":"{\"command\":\"stop-all\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":640,"wires":[["d52bdeb9.ecc12"]]},{"id":"61d83ca2.b87544","type":"inject","z":"30b25d3f.3e99f2","name":"start-all","topic":"","payload":"{\"command\":\"start-all\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":680,"wires":[["d52bdeb9.ecc12"]]},{"id":"972a3bed.6ab2f8","type":"inject","z":"30b25d3f.3e99f2","name":"pause-all","topic":"","payload":"{\"command\":\"pause-all\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":440,"y":720,"wires":[["d52bdeb9.ecc12"]]},{"id":"104177ce.55d638","type":"inject","z":"30b25d3f.3e99f2","name":"pause-all-dynamic","topic":"","payload":"{\"command\":\"pause-all-dynamic\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":380,"wires":[["d52bdeb9.ecc12"]]},{"id":"aee32053.617c6","type":"inject","z":"30b25d3f.3e99f2","name":"pause-all-static","topic":"","payload":"{\"command\":\"pause-all-static\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":510,"wires":[["d52bdeb9.ecc12"]]},{"id":"5e9cb1c1.1ed59","type":"inject","z":"30b25d3f.3e99f2","name":"stop-all-dynamic","topic":"stop-all-dynamic","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":720,"y":420,"wires":[["d52bdeb9.ecc12"]]},{"id":"251707ab.acc518","type":"inject","z":"30b25d3f.3e99f2","name":"start-all-dynamic","topic":"start-all-dynamic","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":720,"y":460,"wires":[["d52bdeb9.ecc12"]]},{"id":"8d0b15ed.743178","type":"inject","z":"30b25d3f.3e99f2","name":"stop-all-static","topic":"stop-all-static","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":550,"wires":[["d52bdeb9.ecc12"]]},{"id":"b8d78e21.deb9","type":"inject","z":"30b25d3f.3e99f2","name":"start-all-static","topic":"start-all-static","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":590,"wires":[["d52bdeb9.ecc12"]]},{"id":"cdc8a5f0.5a8148","type":"inject","z":"30b25d3f.3e99f2","name":"stop-all","topic":"stop-all","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":640,"wires":[["d52bdeb9.ecc12"]]},{"id":"6fe17236.8ce53c","type":"inject","z":"30b25d3f.3e99f2","name":"start-all","topic":"start-all","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":680,"wires":[["d52bdeb9.ecc12"]]},{"id":"6bce5d94.63e854","type":"inject","z":"30b25d3f.3e99f2","name":"pause-all","topic":"pause-all","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":700,"y":720,"wires":[["d52bdeb9.ecc12"]]},{"id":"62b274cd.d8004c","type":"inject","z":"30b25d3f.3e99f2","name":"pause-all-dynamic","topic":"pause-all-dynamic","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":380,"wires":[["d52bdeb9.ecc12"]]},{"id":"afc2df4d.ce228","type":"inject","z":"30b25d3f.3e99f2","name":"pause-all-static","topic":"pause-all-static","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":720,"y":510,"wires":[["d52bdeb9.ecc12"]]},{"id":"23cdb9de.571bd6","type":"inject","z":"30b25d3f.3e99f2","name":"start every10","topic":"start","payload":"every10","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":560,"wires":[["d52bdeb9.ecc12"]]},{"id":"8f23b606.ca0978","type":"inject","z":"30b25d3f.3e99f2","name":"stop every10","topic":"stop","payload":"every10","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":520,"wires":[["d52bdeb9.ecc12"]]},{"id":"d85eaee9.89901","type":"inject","z":"30b25d3f.3e99f2","name":"stop ukne","topic":"stop","payload":"ukne","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":160,"wires":[["d52bdeb9.ecc12"]]},{"id":"3269ea9.b434f16","type":"inject","z":"30b25d3f.3e99f2","name":"start ukne","topic":"start","payload":"ukne","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":200,"wires":[["d52bdeb9.ecc12"]]},{"id":"3d85abce.be66b4","type":"inject","z":"30b25d3f.3e99f2","name":"delete-all","topic":"delete-all","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":700,"y":260,"wires":[["d52bdeb9.ecc12"]]},{"id":"175d0a54.e4e3c6","type":"inject","z":"30b25d3f.3e99f2","name":"remove-all-dynamic","topic":"remove-all-dynamic","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":340,"wires":[["d52bdeb9.ecc12"]]},{"id":"2937fe08.b55de2","type":"inject","z":"30b25d3f.3e99f2","name":"delete-all-static","topic":"delete-all-static","payload":"not important! this is ignored!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":720,"y":300,"wires":[["d52bdeb9.ecc12"]]},{"id":"44c1e4f6.115d4c","type":"inject","z":"30b25d3f.3e99f2","name":"status-all","topic":"status-all","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":700,"y":220,"wires":[["d52bdeb9.ecc12"]]},{"id":"8c2793c4.17582","type":"inject","z":"30b25d3f.3e99f2","name":"status-all","topic":"status-all","payload":"{\"command\":\"status-all\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":440,"y":220,"wires":[["d52bdeb9.ecc12"]]},{"id":"bba0c8e6.d21638","type":"inject","z":"30b25d3f.3e99f2","name":"delete-all","topic":"delete-all","payload":"{\"command\":\"delete-all\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":440,"y":260,"wires":[["d52bdeb9.ecc12"]]},{"id":"fcb58f96.68e92","type":"inject","z":"30b25d3f.3e99f2","name":"delete-all-static","topic":"delete-all-static","payload":"{\"command\":\"delete-all-static\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":300,"wires":[["d52bdeb9.ecc12"]]},{"id":"1d1070b4.ed186f","type":"inject","z":"30b25d3f.3e99f2","name":"remove-all-dynamic","topic":"delete-all-dynamic","payload":"{\"command\":\"remove-all-dynamic\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":340,"wires":[["d52bdeb9.ecc12"]]},{"id":"7b262735.8c2b58","type":"inject","z":"30b25d3f.3e99f2","name":"start sunrise-ny","topic":"start","payload":"sunrise-ny","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":420,"wires":[["d52bdeb9.ecc12"]]},{"id":"84bbf2f7.c065e","type":"inject","z":"30b25d3f.3e99f2","name":"stop sunrise-ny","topic":"stop","payload":"sunrise-ny","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":380,"wires":[["d52bdeb9.ecc12"]]},{"id":"cf7c82c7.4376","type":"comment","z":"30b25d3f.3e99f2","name":"demo of payload commands","info":"","x":480,"y":180,"wires":[]},{"id":"458f141d.4af4dc","type":"comment","z":"30b25d3f.3e99f2","name":"demo of topic commands","info":"","x":730,"y":180,"wires":[]},{"id":"2fe9254b.0604ca","type":"inject","z":"30b25d3f.3e99f2","name":"export schedule1","topic":"export","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":720,"y":880,"wires":[["d52bdeb9.ecc12"]]},{"id":"408e4c56.900224","type":"inject","z":"30b25d3f.3e99f2","name":"export-all-dynamic","topic":"export-all-dynamic","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":800,"wires":[["d52bdeb9.ecc12"]]},{"id":"186086ee.f75019","type":"inject","z":"30b25d3f.3e99f2","name":"export-all-static","topic":"export-all-static","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":720,"y":840,"wires":[["d52bdeb9.ecc12"]]},{"id":"312d54d4.5636dc","type":"inject","z":"30b25d3f.3e99f2","name":"export-all","topic":"export-all","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":700,"y":760,"wires":[["d52bdeb9.ecc12"]]},{"id":"ee56238e.49741","type":"inject","z":"30b25d3f.3e99f2","name":"export schedule1","topic":"","payload":"{\"command\":\"export\", \"name\": \"schedule1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":880,"wires":[["d52bdeb9.ecc12"]]},{"id":"7f77bd40.99d374","type":"inject","z":"30b25d3f.3e99f2","name":"export-all-dynamic","topic":"","payload":"{\"command\":\"export-all-dynamic\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":800,"wires":[["d52bdeb9.ecc12"]]},{"id":"7f6312e.a7d89ec","type":"inject","z":"30b25d3f.3e99f2","name":"export-all-static","topic":"","payload":"{\"command\":\"export-all-static\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":840,"wires":[["d52bdeb9.ecc12"]]},{"id":"95f2ffdb.50ace","type":"inject","z":"30b25d3f.3e99f2","name":"export-all","topic":"","payload":"{\"command\":\"export-all\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":440,"y":760,"wires":[["d52bdeb9.ecc12"]]},{"id":"c43004ac.a4d6e8","type":"comment","z":"30b25d3f.3e99f2","name":"Big dynamic demo - demonstrates adding, removing and most other commands","info":"","x":320,"y":40,"wires":[]}]