examples/debug/all-command-test.json
[{"id":"1cd4fbf3.35c144","type":"inject","z":"7de7b55c.b4f1cc","name":"describe solar events 2 locations","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"command\":\"describe\",\"location\":\"54.9992500,-1.4170300\",\"expressionType\":\"solar\",\"solarType\":\"all\",\"timeZone\":\"Europe/London\",\"offset\":0,\"time\":\"2020-06-03 04:00\",\"info\":\"Get all solar events and status for Bents Park (54.9992500,-1.4170300) at 4am\"},{\"command\":\"describe\",\"location\":\"35.45743499930747 139.63778346776962\",\"expressionType\":\"solar\",\"solarType\":\"selected\",\"solarEvents\":\"sunrise,sunset\",\"timeZone\":\"Europe/London\",\"offset\":60,\"info\":\"Get sunrise/sunset times and status at yokohama intercontinental (35.45743499930747 139.63778346776962)\"}]","payloadType":"json","x":450,"y":260,"wires":[["d52bdeb9.ecc12"]]},{"id":"d52bdeb9.ecc12","type":"cronplus","z":"7de7b55c.b4f1cc","name":"","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output2","outputs":2,"options":[{"name":"schedule1","topic":"japan/tokyo/30","payloadType":"default","payload":"","expressionType":"solar","expression":"0 * * * * * *","location":"31.120557886326 121.4208984375","offset":"30","solarType":"selected","solarEvents":"sunrise,sunset"},{"name":"schedule2","topic":"newyork","payloadType":"default","payload":"","expressionType":"solar","expression":"0 * * * * * *","location":"40.70471701226026 -73.992919921875","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"ukne","topic":"uk/ne/solar/all","payloadType":"default","payload":"","expressionType":"solar","expression":"0 * * * * * *","location":"54.99908621083092 -1.4171397686004639","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule5","topic":"brisbane","payloadType":"default","payload":"","expressionType":"solar","expression":"0 * * * * * *","location":"-27.50933718710976 153.028564453125","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule6","topic":"15m/exc6am6pm","payloadType":"str","payload":"Cron that runs every 15m except between 6am-7am and 6pm-7pm","expressionType":"cron","expression":"0 15,30,45 7-17,19-5 * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":820,"y":260,"wires":[["1ea827af.902428"],["aefefccb.4bc13"]]},{"id":"1ea827af.902428","type":"debug","z":"7de7b55c.b4f1cc","name":"Scheduled Events","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":220,"wires":[]},{"id":"aefefccb.4bc13","type":"debug","z":"7de7b55c.b4f1cc","name":"Command Responses","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1120,"y":260,"wires":[]},{"id":"41ff03e4.1101fc","type":"inject","z":"7de7b55c.b4f1cc","name":"add \"sunrise-ny\"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"add\",\"name\":\"sunrise-ny\",\"payload\":\"sunrise-ny\",\"type\":\"default\",\"expressionType\":\"solar\",\"solarType\":\"selected\",\"solarEvents\":\"sunrise\",\"location\":\"40.70807700656229 -73.9995288848877\",\"offset\":0}","payloadType":"json","x":400,"y":480,"wires":[["d52bdeb9.ecc12"]]},{"id":"e1f2661e.05ead8","type":"inject","z":"7de7b55c.b4f1cc","name":"status of ukne","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"status\",\"name\":\"ukne\"}","payloadType":"json","x":390,"y":420,"wires":[["d52bdeb9.ecc12"]]},{"id":"3a28e735.117cf8","type":"inject","z":"7de7b55c.b4f1cc","name":"status of sunrise-ny","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"status\",\"name\":\"sunrise-ny\"}","payloadType":"json","x":410,"y":520,"wires":[["d52bdeb9.ecc12"]]},{"id":"afc4bee8.8cdf8","type":"inject","z":"7de7b55c.b4f1cc","name":"add every10Min","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"add\",\"name\":\"every10\",\"topic\":\"every10\",\"type\":\"default\",\"expressionType\":\"cron\",\"expression\":\"0 0/10 * * * *\"}","payloadType":"json","x":400,"y":660,"wires":[["d52bdeb9.ecc12"]]},{"id":"a1670469.74c7c8","type":"inject","z":"7de7b55c.b4f1cc","name":"stop-all-dynamic","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"stop-all-dynamic\"}","payloadType":"json","x":740,"y":700,"wires":[["d52bdeb9.ecc12"]]},{"id":"4a86615.130f6a","type":"inject","z":"7de7b55c.b4f1cc","name":"start-all-dynamic","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"start-all-dynamic\"}","payloadType":"json","x":740,"y":740,"wires":[["d52bdeb9.ecc12"]]},{"id":"bd3fd632.248d78","type":"inject","z":"7de7b55c.b4f1cc","name":"stop-all-static","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"stop-all-static\"}","payloadType":"json","x":730,"y":830,"wires":[["d52bdeb9.ecc12"]]},{"id":"30a7db13.2fc7c4","type":"inject","z":"7de7b55c.b4f1cc","name":"start-all-static","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"start-all-static\"}","payloadType":"json","x":730,"y":870,"wires":[["d52bdeb9.ecc12"]]},{"id":"72d91c.d4b316e4","type":"inject","z":"7de7b55c.b4f1cc","name":"stop-all","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"stop-all\"}","payloadType":"json","x":710,"y":920,"wires":[["d52bdeb9.ecc12"]]},{"id":"61d83ca2.b87544","type":"inject","z":"7de7b55c.b4f1cc","name":"start-all","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"start-all\"}","payloadType":"json","x":710,"y":960,"wires":[["d52bdeb9.ecc12"]]},{"id":"972a3bed.6ab2f8","type":"inject","z":"7de7b55c.b4f1cc","name":"pause-all","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"pause-all\"}","payloadType":"json","x":720,"y":1000,"wires":[["d52bdeb9.ecc12"]]},{"id":"104177ce.55d638","type":"inject","z":"7de7b55c.b4f1cc","name":"pause-all-dynamic","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"pause-all-dynamic\"}","payloadType":"json","x":750,"y":660,"wires":[["d52bdeb9.ecc12"]]},{"id":"aee32053.617c6","type":"inject","z":"7de7b55c.b4f1cc","name":"pause-all-static","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"pause-all-static\"}","payloadType":"json","x":740,"y":790,"wires":[["d52bdeb9.ecc12"]]},{"id":"5e9cb1c1.1ed59","type":"inject","z":"7de7b55c.b4f1cc","name":"stop-all-dynamic","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"stop-all-dynamic","payload":"true","payloadType":"bool","x":1000,"y":700,"wires":[["d52bdeb9.ecc12"]]},{"id":"251707ab.acc518","type":"inject","z":"7de7b55c.b4f1cc","name":"start-all-dynamic","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"start-all-dynamic","payload":"","payloadType":"date","x":1000,"y":740,"wires":[["d52bdeb9.ecc12"]]},{"id":"8d0b15ed.743178","type":"inject","z":"7de7b55c.b4f1cc","name":"stop-all-static","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"stop-all-static","payload":"","payloadType":"str","x":990,"y":830,"wires":[["d52bdeb9.ecc12"]]},{"id":"b8d78e21.deb9","type":"inject","z":"7de7b55c.b4f1cc","name":"start-all-static","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"start-all-static","payload":"","payloadType":"date","x":990,"y":870,"wires":[["d52bdeb9.ecc12"]]},{"id":"cdc8a5f0.5a8148","type":"inject","z":"7de7b55c.b4f1cc","name":"stop-all","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"stop-all","payload":"","payloadType":"date","x":970,"y":920,"wires":[["d52bdeb9.ecc12"]]},{"id":"6fe17236.8ce53c","type":"inject","z":"7de7b55c.b4f1cc","name":"start-all","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"start-all","payload":"","payloadType":"date","x":970,"y":960,"wires":[["d52bdeb9.ecc12"]]},{"id":"6bce5d94.63e854","type":"inject","z":"7de7b55c.b4f1cc","name":"pause-all","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"pause-all","payload":"","payloadType":"date","x":980,"y":1000,"wires":[["d52bdeb9.ecc12"]]},{"id":"62b274cd.d8004c","type":"inject","z":"7de7b55c.b4f1cc","name":"pause-all-dynamic","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"pause-all-dynamic","payload":"true","payloadType":"bool","x":1010,"y":660,"wires":[["d52bdeb9.ecc12"]]},{"id":"afc2df4d.ce228","type":"inject","z":"7de7b55c.b4f1cc","name":"pause-all-static","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"pause-all-static","payload":"","payloadType":"str","x":1000,"y":790,"wires":[["d52bdeb9.ecc12"]]},{"id":"23cdb9de.571bd6","type":"inject","z":"7de7b55c.b4f1cc","name":"start every10","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"start","payload":"every10","payloadType":"str","x":390,"y":740,"wires":[["d52bdeb9.ecc12"]]},{"id":"8f23b606.ca0978","type":"inject","z":"7de7b55c.b4f1cc","name":"stop every10","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"stop","payload":"every10","payloadType":"str","x":390,"y":700,"wires":[["d52bdeb9.ecc12"]]},{"id":"d85eaee9.89901","type":"inject","z":"7de7b55c.b4f1cc","name":"stop ukne","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"stop","payload":"ukne","payloadType":"str","x":380,"y":340,"wires":[["d52bdeb9.ecc12"]]},{"id":"3269ea9.b434f16","type":"inject","z":"7de7b55c.b4f1cc","name":"start ukne","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"start","payload":"ukne","payloadType":"str","x":380,"y":380,"wires":[["d52bdeb9.ecc12"]]},{"id":"3d85abce.be66b4","type":"inject","z":"7de7b55c.b4f1cc","name":"delete-all","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"delete-all","payload":"","payloadType":"date","x":980,"y":540,"wires":[["d52bdeb9.ecc12"]]},{"id":"175d0a54.e4e3c6","type":"inject","z":"7de7b55c.b4f1cc","name":"remove-all-dynamic","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"remove-all-dynamic","payload":"","payloadType":"date","x":1010,"y":620,"wires":[["d52bdeb9.ecc12"]]},{"id":"2937fe08.b55de2","type":"inject","z":"7de7b55c.b4f1cc","name":"delete-all-static","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"delete-all-static","payload":"not important! this is ignored!","payloadType":"str","x":1000,"y":580,"wires":[["d52bdeb9.ecc12"]]},{"id":"44c1e4f6.115d4c","type":"inject","z":"7de7b55c.b4f1cc","name":"status-all","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"status-all","payload":"","payloadType":"str","x":980,"y":400,"wires":[["d52bdeb9.ecc12"]]},{"id":"8c2793c4.17582","type":"inject","z":"7de7b55c.b4f1cc","name":"status-all","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"status-all\"}","payloadType":"json","x":720,"y":400,"wires":[["d52bdeb9.ecc12"]]},{"id":"bba0c8e6.d21638","type":"inject","z":"7de7b55c.b4f1cc","name":"delete-all","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"delete-all\"}","payloadType":"json","x":720,"y":540,"wires":[["d52bdeb9.ecc12"]]},{"id":"fcb58f96.68e92","type":"inject","z":"7de7b55c.b4f1cc","name":"delete-all-static","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"delete-all-static\"}","payloadType":"json","x":740,"y":580,"wires":[["d52bdeb9.ecc12"]]},{"id":"1d1070b4.ed186f","type":"inject","z":"7de7b55c.b4f1cc","name":"remove-all-dynamic","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"remove-all-dynamic\"}","payloadType":"json","x":750,"y":620,"wires":[["d52bdeb9.ecc12"]]},{"id":"7b262735.8c2b58","type":"inject","z":"7de7b55c.b4f1cc","name":"start sunrise-ny","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"start","payload":"sunrise-ny","payloadType":"str","x":400,"y":600,"wires":[["d52bdeb9.ecc12"]]},{"id":"84bbf2f7.c065e","type":"inject","z":"7de7b55c.b4f1cc","name":"stop sunrise-ny","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"stop","payload":"sunrise-ny","payloadType":"str","x":400,"y":560,"wires":[["d52bdeb9.ecc12"]]},{"id":"cf7c82c7.4376","type":"comment","z":"7de7b55c.b4f1cc","name":"demo of payload commands","info":"","x":760,"y":360,"wires":[]},{"id":"458f141d.4af4dc","type":"comment","z":"7de7b55c.b4f1cc","name":"demo of topic commands","info":"","x":1010,"y":360,"wires":[]},{"id":"2fe9254b.0604ca","type":"inject","z":"7de7b55c.b4f1cc","name":"export schedule1","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"export","payload":"","payloadType":"date","x":1000,"y":1160,"wires":[["d52bdeb9.ecc12"]]},{"id":"408e4c56.900224","type":"inject","z":"7de7b55c.b4f1cc","name":"export-all-dynamic","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"export-all-dynamic","payload":"","payloadType":"date","x":1010,"y":1080,"wires":[["d52bdeb9.ecc12"]]},{"id":"186086ee.f75019","type":"inject","z":"7de7b55c.b4f1cc","name":"export-all-static","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"export-all-static","payload":"","payloadType":"date","x":1000,"y":1120,"wires":[["d52bdeb9.ecc12"]]},{"id":"312d54d4.5636dc","type":"inject","z":"7de7b55c.b4f1cc","name":"export-all","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"export-all","payload":"","payloadType":"date","x":980,"y":1040,"wires":[["d52bdeb9.ecc12"]]},{"id":"ee56238e.49741","type":"inject","z":"7de7b55c.b4f1cc","name":"export schedule1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"export\", \"name\": \"schedule1\"}","payloadType":"json","x":740,"y":1160,"wires":[["d52bdeb9.ecc12"]]},{"id":"7f77bd40.99d374","type":"inject","z":"7de7b55c.b4f1cc","name":"export-all-dynamic","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"export-all-dynamic\"}","payloadType":"json","x":750,"y":1080,"wires":[["d52bdeb9.ecc12"]]},{"id":"7f6312e.a7d89ec","type":"inject","z":"7de7b55c.b4f1cc","name":"export-all-static","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"export-all-static\"}","payloadType":"json","x":740,"y":1120,"wires":[["d52bdeb9.ecc12"]]},{"id":"95f2ffdb.50ace","type":"inject","z":"7de7b55c.b4f1cc","name":"export-all","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"export-all\"}","payloadType":"json","x":720,"y":1040,"wires":[["d52bdeb9.ecc12"]]},{"id":"c43004ac.a4d6e8","type":"comment","z":"7de7b55c.b4f1cc","name":"Big dynamic demo - demonstrates adding, removing and most other commands","info":"","x":600,"y":220,"wires":[]},{"id":"a1b0065c.e83b08","type":"inject","z":"7de7b55c.b4f1cc","name":"status-all-static","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"status-all-static\"}","payloadType":"json","x":740,"y":440,"wires":[["d52bdeb9.ecc12"]]},{"id":"920663c7.8d659","type":"inject","z":"7de7b55c.b4f1cc","name":"status-all-dynamic","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"status-all-dynamic\"}","payloadType":"json","x":750,"y":480,"wires":[["d52bdeb9.ecc12"]]},{"id":"df4d799f.06a888","type":"inject","z":"7de7b55c.b4f1cc","name":"status-all-static","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"status-all-static","payload":"","payloadType":"str","x":1000,"y":440,"wires":[["d52bdeb9.ecc12"]]},{"id":"f338a35c.a501b","type":"inject","z":"7de7b55c.b4f1cc","name":"status-all-dynamic","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"status-all-dynamic","payload":"","payloadType":"str","x":1010,"y":480,"wires":[["d52bdeb9.ecc12"]]}]